
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ecfae2;
  display: flex;
}

.sidebar {
  background-color: #1C3A2E;
  color: #fff;
  width: 220px;
  padding: 2em;
  height: 100vh;
}

.sidebar h2 {
  color: #f5d75e;
  margin-bottom: 2em;
  text-decoration: bold;
  font-size: 1.8em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1em 0;
  
}

.sidebar a {
  color: #f5d75e;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.sidebar a:hover {

  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding: 2em;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #1C3A2E;
  margin: 0;
}

.admin-tools {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logout-btn {
  background-color: #f5d75e;
  color: #1C3A2E;
  padding: 0.5em 1em;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #635109;
  color: white;
}

.dashboard-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 2em;
}

.widget {
  background-color: #ffffff;
  border-left: 6px solid#1C3A2E;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  width: calc(50% - 0.75em);
}

.widget h3 {
  margin: 0;
  font-size: 1.1em;
  color: #1C3A2E;
}

.widget p {
  font-size: 1.6em;
  color: #1C3A2E;
  font-weight: bold;
  margin: 0.5em 0 0;
}

@media (max-width: 768px) {
.widget {
    width: 100%;
}
}

.toast-success {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #22c55e;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 9999;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0; display: none;}
}
